@import url("/files/global.css");
@import url("/files/component.topbar.css");

.content > .container > .title {
    font-weight: 400;
    margin-bottom: 8px;
}

.content > .container:not(:last-child) {
    margin-bottom: 26px;
}

.content > .container > input {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background-color: var(--background);
    transition: .2s all ease;
    padding: 8px 16px;
    margin-right: 16px;
}

.content > .container > .fileuploader input {
    display: none;
}

.content > .container > .fileuploader {
    display: flex;
    flex-direction: row;
}

.content > .container > .fileuploader > label.error {
    border: 1px solid var(--red);
}

.content > .container > .fileuploader > label {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background-color: var(--background);
    transition: .2s all ease;
    cursor: pointer;
    padding: 8px 16px;
    margin-right: 16px;
}

.content > .container > .fileuploader > label:focus,
.content > .container > .fileuploader > label:hover {
    background-color: var(--secondary-dark);
}

.content > .container > .fileuploader > button {
    padding: 8px 16px;
    background-color: var(--background);
    border: 1px solid var(--secondary);
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s ease;
}

.content > .container > .fileuploader > button:focus,
.content > .container > .fileuploader > button:hover {
    background-color: var(--secondary-dark);
}

.content > .container > #file_stats {
    padding: 4px;
    margin-left: 4px;
    color: var(--text-secondary);
    font-size: 12px;
}