:root {
    --text: #f6f6f6;
    --background: #161616;
    --primary: #bcbcbd;
    --secondary: #454545;
    --accent: #b7bed3;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: "Segoe UI";
}

body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}