:root {
    --text: #f6f6f6;
    --background: #161616;
    --primary: #bcbcbd;
    --secondary: #454545;
    --accent: #b7bed3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: "Segoe UI";
}

body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
}