@import url("/files/global.css");

@keyframes fade_in_up {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_in_side {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.delay05 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.animated.delay1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animated.delay15 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.animated.delay2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.fade_in_up {
    -webkit-animation-name: fade_in_up;
    animation-name: fade_in_up;
}

.fade_in_side {
    -webkit-animation-name: fade_in_side;
    animation-name: fade_in_side;
}

.fade_in {
    -webkit-animation-name: fade_in;
    animation-name: fade_in;
}

b.text {
    font-size: 10px;
}

b.sub_text1 {
    font-size: 10px;
    cursor: default;
}

a.sub_text2,
b.sub_text2 {
    font-family: monospace;
    font-size: 10px;
    color: var(--primary);
}

a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: blink;
}

.dash {
    width: 2px;
    height: 15px;
    background-color: #ffffff56;
}

a:hover {
    transform: translateY(-2px);
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
}

#main {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    height: 100%;
    background: url(moon.png) no-repeat center center fixed;

    transform-style: preserve-3d;
    perspective: 1000px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) translateZ(30px);
}

.content > .title {
    margin-bottom: 10px;
}

.content > .body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > .body > .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content > .body > .socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.content > .body > .socials > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px
}

.content > .body > .clock {
    margin-top: 5px;
}